<div class="page-header">
    <h2>Next</h2>
</div>
<div class="well-container">
    <div class="well">
        Josh and Randy
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
