<div class="jumbotron">
  <div class="row text-center" id="score-board">
    <div class="col-xs-5">
      <div class="jumbotron jumbotron-black">
        <h3>Ray &amp; Josh</h3>
        <h1 id="team-one-score">0</h1>
        <div class="team-black" role="group" aria-label="...">
          <p>Ray
          <button type="button" class="btn btn-xs btn-default plus-one-button">+1</button>
          <button type="button" class="btn btn-xs btn-default minus-one-button">-1</button>
          </p>
        </div>
        <div class="team-black" role="group" aria-label="...">
          <p>Josh
            <button type="button" class="btn btn-xs btn-default plus-one-button">+1</button>
            <button type="button" class="btn btn-xs btn-default minus-one-button">-1</button>
          </p>
          </div>
      </div>
    </div>
    <div class="col-xs-2">
      <h1 id="vs">VS</h1>
    </div>
    <div class="col-xs-5">
      <div class="jumbotron jumbotron-red">
        <h3>Randy &amp; Erin</h3>
        <h1 id="team-two-score">0</h1>
        <div class="team-red" role="group" aria-label="...">
          <p>Randy
          <button type="button" class="btn btn-xs btn-default plus-one-button">+1</button>
          <button type="button" class="btn btn-xs btn-default minus-one-button">-1</button>
          </p>
        </div>
        <div class="team-red" role="group" aria-label="...">
          <p>Erin
            <button type="button" class="btn btn-xs btn-default plus-one-button">+1</button>
            <button type="button" class="btn btn-xs btn-default minus-one-button">-1</button>
          </p>
          </div>
      </div>
    </div>
  </div>
  <form class="" action="" method="post" id="submit-game">
    <p>
      <button class="btn btn-default" type="submit">Submit Game</button>
      <button class="btn btn-default" type="cancel">Clear</button>

    </p>

  </form>
</div>
