<div class="row text-center">
  <div class="col-xs-6">
    <div class="jumbotron">
      <h1 id="team-one-score">0</h1>
      <div class="btn-group team-black" role="group" aria-label="...">
        <button type="button" class="btn btn-default plus-one-button">+1</button>
        <button type="button" class="btn btn-default minus-one-button">-1</button>
        <button type="button" class="btn btn-default clear-button">Clear</button>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="jumbotron">
      <h1 id="team-two-score">0</h1>
      <div class="btn-group team-red" role="group" aria-label="...">
        <button type="button" class="btn btn-default plus-one-button">+1</button>
        <button type="button" class="btn btn-default minus-one-button">-1</button>
        <button type="button" class="btn btn-default clear-button">Clear</button>
      </div>
    </div>
  </div>
</div>
