<div class="page-header">
    <h2>Sign up</h2>
</div>
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="player-one">Player 1</label>
        <input type="text" class="form-control" id="player-one" placeholder="Teammate 1" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="player-two">Player 2</label>
        <input type="text" class="form-control" id="player-two" placeholder="Teammate 2" required>
    </div>
    <button type="submit" class="btn btn-default">Add Team</button>
</form>
