extends ../template.pug
block content
  div.row.text-center
    div.col-xs-6
      div.jumbotron#red-jumbotron
        button.btn.btn-lg.btn-default#red-plus +
        button.btn.btn-lg.btn-default#red-minus -
    div.col-xs-6
      div.jumbotron#black-jumbotron
        button.btn.btn-lg.btn-default#black-plus +
        button.btn.btn-lg.btn-default#black-minus -
  div.text-center
    button.btn.btn-lg.btn-default Clear Scores
