extends ../template.pug
block content
  div.row.scoreboard
    div.col-xs-6
      div.jumbotron#red-jumbotron
        h1.text-center 0 
    div.col-xs-6
      div.jumbotron#black-jumbotron
        h1.text-center 0
